skyblue = #63CFDC
lightblue = #BFD0F0
lightnightblue = #7892C1
nightblue = #586A8A
darknightblue = #566276
lightmandarine = #FFCFAF
mandarine = #FFAA72
bloodred = #CF3D33

navLinkBg = #222
navLinkBgHover = #383838 //darknightblue

activeBg = nightblue

headerClr = mandarine
