skyblue = #63CFDC
lightblue = #BFD0F0
lightnightblue = #7892C1
nightblue = #586A8A
darknightblue = #566276
oceanblue = #7F98B0
earth = #2B2A25
lightmandarine = #FFCFAF
mandarine = #FFAA72
bloodred = #CF3D33
lightsoulgreen = #8FC5AD
soulgreen = #64A086
darksoulgreen = #4C806A


activeBg = #222//nightblue
// activeBg = #64A086 //earth

headerClr = mandarine
// headerClr = #FFC645// earth// #64A086 //oceanblue

navLinkBg = #333 //soulgreen //#222
navLinkBgHover = darksoulgreen //lightsoulgreen // //#383838
navLinkActiveClr = #fff
navLinkActiveBg = soulgreen //#8FC5AD

imgBorder = darksoulgreen //soulgreen //lightnightblue

adminFormClrAll = soulgreen //lightnightblue
adminFormClrAllHover = lightsoulgreen //lightblue
