@import 'require/all.styl'
@import 'rupture'
@import 'nib'

*
  padding 0
  margin 0

html
  font-size 62.5%

body
  font-family 'latolight', sans-serif
  color #444

img
  max-width 100%
  vertical-align middle

ul
  margin-left 1.8rem
  list-style-type square

a
  outline 0
  text-decoration none
  &:hover
    text-decoration underline

.ml14
  margin-left 1.4rem
.skyblue
  color skyblue
.mandarine
  color mandarine
.red
  color bloodred


// BOOTSTRAP-STYLE CLASSES
.btn
  padding .4rem
  outline 0
  font 1.7rem 'latoregular', sans-serif
  transition all .5s
  cursor pointer

.btn-form
  border .1rem solid adminFormClrAll
  colors(activeBg, adminFormClrAll)
  &:hover
    border .1rem solid adminFormClrAllHover
    color #fff

.btn-download
  border .1rem solid mandarine
  colors(inherit, mandarine)
  &:hover
    border .1rem solid lightmandarine
    color lightmandarine

.imgs
  clearfix()

.img
  width 22rem
  margin-right 1.5rem
  margin-bottom 1.5rem
  display inline-block
  vertical-align top
  img
    border .4rem solid imgBorder

.img-name
  text-align center

.img-enlarged
  sizes(100%)
  display flex
  justify-content center
  align-items center
  background-color activeBg
  fixed left 0 top 0
  cursor zoom-out
  img
    width auto
    height 100vh

.img-notenlarged
  cursor zoom-in


/* COMPONENTS */

.wrapper
  sizes(100%)
  display flex
  +below(800px)
    flex-direction column

/* LANDING PAGE */
.landing
  sizes(100%)
  colors(#222, #fff)
  position absolute
  top 0
  left 0
  display flex
  justify-content center
  align-items center
  a
    font-size 1.6rem
    color soulgreen //headerClr //lightnightblue
    &:hover
      text-decoration none
.landing-inner
  font-family 'corbertregular', sans-serif
  text-align center


/* NAV
   (left or top [when below 800px])
*/
.nav
  width 9.4rem
  height 100vh
  background-color navLinkBg
  fixed left 0 top 0
  z-index 100
  display flex
  flex-direction column
  +below(800px)
    min-width 100%
    min-height 0
    height 6.8rem
    flex-direction row

.nav-bottom
  justify-content flex-end

.nav-top,
.nav-bottom
  width 100%
  flex 1 1 auto
  display flex
  flex-direction column
  +below(800px)
    flex-direction row
  a,
  .a
    sizes(100%, 4.8rem)
    color #fff
    text-decoration none
    text-align center
    transition background-color .3s, height .3s
    overflow-y hidden
    cursor pointer
    &:hover
      background-color navLinkBgHover
    +below(800px)
      sizes(8rem, 100%)
      &:first-of-type
        width 5rem
        .navLink
          width 100%
    .navLink
      padding-top 1.2rem
      transition padding-top .3s
      +below(800px)
        padding-top 2rem
      .octicon
        margin-bottom .4rem
        font-size 2.4rem
        transition margin-bottom .3s ease, transform .1s linear
    .navLink-name
      font-size 1.4rem
      opacity 0
      transition opacity .45s
  a.active
    height 6.8rem
    background-color navLinkActiveBg
    .navLink
      +below(800px)
        padding-top 1.2rem
      .octicon
        margin-bottom 0
      .navLink-name
        opacity 1

.active
  colors(activeBg, #fff)
  cursor default
.a-active
  background-color navLinkBgHover
  .navLink
    .octicon
      transform rotate(45deg)

/* OTHER PAGES
   (.content is in web/static/js/components/layouts/MainLayout.jsx)
*/
.content
  min-height 100vh
  margin-left 9.4rem
  colors(#222, #fff)
  font-size 1.6rem
  flex 1 1 calc(100% - 10rem)
  display flex
  flex-direction column
  +below(800px)
    margin-top 6.8rem
    margin-left 0
  > div
    padding 5rem 20% 5rem 6rem
    flex 1 1 auto
    +below(800px)
      padding 5rem 10% 5rem 10%
  h1
    margin-bottom 2rem
    font-size 3.2rem
    .octicon
      margin-right .5rem
      font-size 3.2rem
  h3
    letter-spacing .1rem
    font-size 1.9rem
  p
    margin-bottom 2rem
    font-size 1.6rem
  a
    color mandarine

.content-news
  h3
    font-family 'corbertregular', sans-serif

.one
  margin-bottom 2rem
  transition border .5s

.one-news
  padding 0 2rem 4rem 0

.one-sequential
  padding 0 2rem 2rem 0

.content-news-date
  color headerClr
  font-weight bold

.content-about
  h3
    color headerClr
    
.content-admin
  form
    max-width 60rem
    fieldset
      padding 1.2rem 3rem 2rem 2rem
      border .1rem solid adminFormClrAll
      transition border .3s
      &:hover
        border .1rem solid adminFormClrAllHover
        > legend
          color adminFormClrAllHover
      legend
        padding 0 .4rem
        color adminFormClrAll
        transition color .5s

  input[type="text"],
  input[type="number"],
  textarea
    width 100%
    padding .4rem
    border .1rem solid adminFormClrAll
    colors(activeBg, adminFormClrAllHover)
    font 1.6rem 'latolight', sans-serif
    transition border .5s, color .5s
    &:focus
      border .1rem solid adminFormClrAllHover
      color #fff
  textarea
    height 8rem
  button
    padding .4rem
    border .1rem solid adminFormClrAll
    outline 0
    colors(activeBg, adminFormClrAll)
    font 1.7rem 'latoregular', sans-serif
    transition all .5s
    cursor pointer
    &:hover
      border .1rem solid adminFormClrAllHover
      color #fff

.sequentials-list
  margin-left 1rem
  list-style-type none
  li
    sizes(10rem, 20rem)
    padding-top 5rem
    border .2rem solid lightnightblue
    margin .4rem .2rem
      text-align center
      float left
      a
        color #ddd
          text-decoration none
          &:hover
            color lightnightblue

.sequential-imgs
  clearfix()


// FOOTER
.footer
  width calc(100% - 9.4rem)
  colors(navLinkBgHover, #fff)
  fixed bottom 0 left 9.4rem
  z-index 90
  transition all .5s
  +below(800px)
    width 100%
    left 0rem
    
  a
    color lightsoulgreen //mandarine
  .footer-flex
    padding 4rem
    display flex
    justify-content center
    > div
      flex 1 1 auto
      font-size 1.4rem
      text-align center
.footer-hidden
  left -100%


// REUSE-able components
.form-input,
.form-textarea
  margin-bottom .8rem
